[package]
name = "glfw"
version = "0.1.2"
authors = ["The glfw-rs developers."]
description = "GLFW3 bindings and idiomatic wrapper for Rust."
keywords = ["windowing", "opengl"]
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/bjz/glfw-rs"

[features]
default = ["glfw-sys"]

[dependencies]
semver = "0.2"
log = "0.3"
bitflags = "0.3"
libc = "0.1"
enum_primitive = "0.1"
num = "0.1"

[dependencies.glfw-sys]
glfw-sys = "*"
optional = true
