[package]
authors = ["The glfw-rs developers."]
description = "GLFW3 bindings and idiomatic wrapper for Rust."
keywords = ["windowing", "opengl", "vulkan"]
license = "Apache-2.0"
name = "glfw"
readme = "README.md"
repository = "https://github.com/bjz/glfw-rs"
version = "0.34.0"

[dependencies]
bitflags = "1.0.0"
libc = "0.2"
log = "0.4"
semver = "0.9"
raw-window-handle = "0.3"

[target.'cfg(target_os = "macos")'.dependencies]
objc = "0.2"

[dependencies.glfw-sys]
optional = true
version = "^3.3"

[dependencies.image]
optional = true
version = "^0.22"

[dependencies.vk-sys]
optional = true
version = "^0.4"

[dev-dependencies]
vk-sys = "^0.4"
image = "^0.22"

[features]
all = ["image", "vulkan"]
default = ["glfw-sys"]
vulkan = ["vk-sys"]
